* {
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: #ffffff;
    text-align: center;
}

body {
    background-color: black;
}

.first {
    height: 70vh;
    background-image: url(/Assets/Images/bg.jpg);
    background-size: cover;
    background-position: center;
}

.layer {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

nav {
    width: 80vw;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo {
    width: 9.25rem;
}

.nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.select {
    display: flex;
    width: 7.78rem;
    height: 2rem;
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

select {
    background-color: transparent;
    border: none;
    font-weight: 700;
    outline: none;
}

option {
    color: rgb(77, 76, 76);
}

.signinbutton {
    width: 4.65rem;
    height: 2rem;
    background-color: rgb(229, 9, 20);
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;
}

.main-hero {
    height: calc(100% - 88px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero,
.hero1,
.hero2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero {
    gap: 1.15rem;
    padding: 0px 20px;
}

.hero1 {
    gap: 0.97rem;
}

.hero1 h1 {
    font-size: 2rem;
    font-weight: 800;
}

.hero1 p {
    font-size: 1.5rem;
    font-weight: 400;
}

.hero2 {
    gap: 0.94rem;
}

.hero2 h3 {
    font-size: 1.25rem;
    font-weight: 350;
}

.form {
    display: flex;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
}

.input {
    width: 18.75rem;
    height: 2.5rem;
    text-align: left;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid grey;
    position: relative;
}

input:focus {
    border-radius: 4px;
    outline: 2px solid red;
}

.input:focus-within label {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    font-size: 10px;
    top: 3px;
}

.input label {
    position: absolute;
    bottom: 11px;
    left: 12px;
}

.input input {
    width: 17rem;
    height: 1.3rem;
    background-color: transparent;
    padding-right: 0.82rem;
    padding-left: 0.82rem;
    padding-bottom: 0.19rem;
    padding-top: 0.9rem;
    border: none;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.getstartedbutton {
    width: 15rem;
    height: 2.5rem;
    background-color: rgb(229, 9, 20);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

.separator {
    height: 0.32rem;
    background-color: rgb(46, 44, 44);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    padding: 50px 0;
}

.sec1 {
    width: 500px;
}

.sec1 h1,
.section2 h1 {
    font-size: 2rem;
    font-weight: 800;
    text-align: left;
    padding-bottom: 10px;
}

.sec1 p,
.section2 p {
    font-size: 1.25rem;
    font-weight: 350;
    text-align: left;
}

.sec2 {
    position: relative;
    max-width: 450px;
}

.sec2 img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 5;
}

.sec2 video {
    position: absolute;
    width: 80%;
    height: auto;
    right: 30px;
    top: 70px;
    z-index: 1;
}

.section {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section1 {
    max-width: 450px;
    height: auto;
}

.section1 img {
    width: 100%;
    padding: 50px 0px;
}

.section2 {
    width: 400px;
    padding-bottom: 50px;
}

.sectionvid video {
    right: 45px;
    top: 20px;
}

.faq-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
}

.faq {
    padding-bottom: 30px;
    width: 60vw;
}

.faq h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.faq .questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.faq .questions .que {
    padding: 20px 20px;
    background-color: rgb(45, 45, 45);
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}